<link href="~/css/mystyle.css" rel="stylesheet" />

<section id="about" style="zoom:70%">
    <div class="offset-md-2 col-md-8 about grid">
        <div class="about-left">
            <h1>About Us</h1>
            <p>
                is a system that makes it easy to find private tutors online. The
                system provides university students with a variety of tutors from
                different disciplines and educational levels, allowing them to
                find the right tutor for their needs.
            </p>
        </div>
        <div class="about-right">
            <div class="about-img">
                <img src="~/imgs/aboutImgs/1.webp"
                     alt="" />
                <img src="~/imgs/aboutImgs/2.png"
                     alt="" />
                <img src="~/imgs/aboutImgs/3.webp"
                     alt="" />
            </div>
            <div class="about-img-two">
                <img src="~/imgs/aboutImgs/4.webp"
                     alt="" />

                <img src="~/imgs/aboutImgs/5.webp"
                     alt="" />
            </div>
        </div>
    </div>
</section>
